<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="checkLogin()" #userForm="ngForm">
      <div class="form-group">
        <label for="username">Username</label>
        <div>
          <input type="text" class="form-control" name="username" required [(ngModel)]="username">
        </div>
      </div>

      <div class="form-group">
        <label for="pasword">Password</label>
        <div>
          <input type="text" class="form-control" name="password" required [(ngModel)]="password">
        </div>
      </div>
      <button [disabled]="!userForm.form.valid" type="submit" class="btn btn-success">
        Login
      </button>
    </form>
  </div>
</div>
